@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    header {
        z-index: 2;
    }
    .navList {
        position: absolute;
        top: 14vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background-color: rgb(45, 212, 191);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        justify-content: center;
        gap: 50px;
        min-width: 0px;
    }
    .navListLi {
        opacity: 0;
    }
    .zIndex {
        z-index: -1;
    }
    #listaDeSugestao {
        height: 300px;
        overflow-y: auto;
        z-index: 3;
        position: absolute;
    }
    .itemSugestao {
        width: 65%;
    }
    .telaDeAnuncioResponsive {
        width: 90%;
        height: 90%;
        z-index: 4;
    }
    #fundoDesfocado {
        z-index: 4;
    }
    .formAnuncioResponsive {
        flex-wrap: nowrap;
        overflow-y: auto;
        width: 100%;
        margin: 0;
    }
    #telaAnuncioPublicado {
        width: 90%;
        height: 50%;
    }
    #telaAnuncioPublicado h2 {
        height: auto;
    }
    #telaChat {
        width: 300px;
        z-index: 4;
    }
    #telaEntrar {
        width: 90%;
        z-index: 4;
    }
    #telaDeCadastro {
        width: 90%;
        z-index: 4;
    }
    #formCadastro {
        flex-wrap: nowrap;
        align-items: center;
        overflow-y: auto;
    }
    #formCadastro input {
        width: 80%;
    }
    #formCadastro .nascimento {
        padding: 20px;
    }
    #telaEsqueciMinhaSenha {
        width: 90%;
        z-index: 4;
    }
    .filtroSessao {
        display: none;
    }
    .divCentral {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .sectionFiltros {
        margin: 0;
        align-items: center;
        position: fixed;
        top: 20%;
        overflow-y: auto;
        background-color: white;
        height: 70%;
        justify-content: start;
        padding: 20px;
        border-top: 2px solid rgb(45 212 191);
        border-left: 2px solid rgb(45 212 191);
        border-bottom: 2px solid rgb(45 212 191);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 290px;
        right: 0%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    #btnAbrirFiltrosMobile {
        position: fixed;
        top: 50%;
        right: 0%;
        transform: rotate(-90deg) translate(0px, 18px);
        background-color: rgb(45, 212, 191);
        width: 60px;
        font-family: 'Archivo';
        font-weight: bold;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        display: block;
        transition: transform 0.3s ease-in;
        z-index: 1;
    }
    .divFiltroCor {
        justify-content: center;
        align-items: center;
    }
    .sectionChamada {
        text-align: center;
        background-image: none;
        height: 300px;
    }
    .sectionChamadaTitulo {
        font-size: 35px;
        margin-top: 50px;
    }
    .sectionChamadaSubtitulo {
        font-size: 20px;
    }
}

.sectionFiltros.active {
    transform: translateX(0%);
    box-shadow: inset 0px 0px 10px 0px black;
}

#btnAbrirFiltrosMobile.active {
    transform: rotate(-90deg) translateY(-1133%);
}

.navList.active {
    transform: translateX(0);
}

#mobileMenu.active #line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

#mobileMenu.active #line2 {
    opacity: 0;
}

#mobileMenu.active #line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}